/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgb(128, 255, 212), rgb(255, 255, 255));
  background-repeat: no-repeat;
}

h1 {
  color: rgb(7, 160, 127);
  text-align: center;
  padding: 1rem;
}

/* Input Styling */
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 1.1rem;
}

input[type='text'] {
  margin: 0.7rem;
}

input[type='number'] {
  max-width: 8rem;
}

input[type='date'] {
  margin: 0.7rem;
}

/* Buttons */
div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  height: 2rem;
  width: 6rem;
  color: white;
  margin-left: 1rem;
}

.btn--submit {
  background-color: rgb(11, 199, 11);
  border: 3px solid rgb(12, 156, 12);
}

.btn--clear-form {
  background-color: rgb(214, 47, 41);
  border: 3px solid rgb(167, 45, 7);
}

/* Table Styling */
.expense-table {
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #333;
  text-align: center;
}

thead,
tfoot {
  background-color: rgba(12, 143, 45, 0.63);
  color: #fff;
}

.header {
  font-weight: 600;
  background-color: rgba(29, 129, 54, 0.507);
  color: #fff;
  border: none;
}

.id {
  min-width: 2.3rem;
}

.expense {
  min-width: 20rem;
}

.amt {
  min-width: 7rem;
}

.date {
  min-width: 8rem;
}

.delete {
  border: none;
}

.btn--delete-row {
  background-color: rgba(35, 129, 59, 0.39);
}
