/* Overall */
.container--app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: rgba(14, 13, 13, 0.664);
  max-width: 850px;
}

/* Entry form */
.container--form {
  display: flex;
  max-width: 850px;
  min-width: 250px;
  flex-grow: 1;
  align-content: center;
}

.text-input {
  min-width: 250px;
}

.btn--big {
  color: white;
  padding: 6px 25px;
  text-align: center;
  border-radius: 6px;
}

.btn--submit {
  background-color: rgba(39, 175, 26, 0.89);
  border: 2px solid rgb(9, 107, 53);
}

.btn--clear-all {
  background-color: rgba(219, 69, 64, 0.89);
  border: 2px solid rgba(107, 16, 9, 0.966);
}

/* Task Container */
.container--task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin: 5px;
  max-width: 650px;
}

.task-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: outset;
  max-width: inherit;
  padding: 5px;
  margin: 2px;
}

.task {
  flex-grow: 18;
  flex-basis: 90%;
  max-width: inherit;
  overflow: auto;
  min-width: 400px;
}

.btn--complete-task {
  flex-basis: 5%;
  flex-grow: 1;
}

.btn--delete-task {
  flex-basis: 5%;
  flex-grow: 1;
  /* min-width: 22px; */
}
